<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LKS_Kota_Tangerang_2019_Ikhsan_Maulana.Properties.Settings.LKS_Kota_Tangerang_2019ConnectionString"
            connectionString="Data Source=.\;Initial Catalog=&quot;LKS Kota Tangerang 2019&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>