USE [master]
GO
/****** Object:  Database [lks2019]    Script Date: 2/14/2019 4:12:13 PM ******/
CREATE DATABASE [lks2019]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lks2019', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\lks2019.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lks2019_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\lks2019_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lks2019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lks2019]
GO
/****** Object:  Table [dbo].[Detailorder]    Script Date: 2/14/2019 4:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detailorder](
	[Detailid] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NULL,
	[Menuid] [int] NULL,
	[Qty] [nchar](10) NULL,
	[Price] [nchar](10) NULL,
	[Status] [varchar](10) NULL,
 CONSTRAINT [PK_Detailorder] PRIMARY KEY CLUSTERED 
(
	[Detailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Headerorder]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Headerorder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Employeeid] [int] NULL,
	[Memberid] [int] NULL,
	[Date] [date] NULL,
	[Payment] [nvarchar](50) NULL,
	[Bank] [nvarchar](50) NULL,
	[Status] [varchar](10) NULL,
 CONSTRAINT [PK_Headerorder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Msemployee]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msemployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Handphone] [nvarchar](13) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Msemployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Msmember]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msmember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Handphone] [nchar](13) NULL,
	[JoinDate] [date] NULL,
 CONSTRAINT [PK_Msmember] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Msmenu]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Msmenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](50) NULL,
	[Price] [nchar](10) NULL,
	[Photo] [image] NULL,
	[poto] [binary](50) NULL,
 CONSTRAINT [PK_Msmenu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pesanan]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesanan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Menu] [nvarchar](50) NULL,
	[Qty] [nchar](10) NULL,
	[Price] [nchar](10) NULL,
 CONSTRAINT [PK_Pesanan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Repotpenjualan]    Script Date: 2/14/2019 4:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repotpenjualan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Menu] [nvarchar](50) NULL,
	[Qty] [nchar](10) NULL,
	[Price] [nchar](10) NULL,
	[Total] [nchar](10) NULL,
	[Payment Type] [nvarchar](50) NULL,
	[Card number] [nvarchar](50) NULL,
	[Bank Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Repotpenjualan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Detailorder]  WITH CHECK ADD  CONSTRAINT [FK_Detailorder_Headerorder] FOREIGN KEY([Orderid])
REFERENCES [dbo].[Headerorder] ([OrderID])
GO
ALTER TABLE [dbo].[Detailorder] CHECK CONSTRAINT [FK_Detailorder_Headerorder]
GO
ALTER TABLE [dbo].[Detailorder]  WITH CHECK ADD  CONSTRAINT [FK_Detailorder_Msmenu] FOREIGN KEY([Menuid])
REFERENCES [dbo].[Msmenu] ([MenuID])
GO
ALTER TABLE [dbo].[Detailorder] CHECK CONSTRAINT [FK_Detailorder_Msmenu]
GO
ALTER TABLE [dbo].[Headerorder]  WITH CHECK ADD  CONSTRAINT [FK_Headerorder_Msemployee] FOREIGN KEY([Employeeid])
REFERENCES [dbo].[Msemployee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Headerorder] CHECK CONSTRAINT [FK_Headerorder_Msemployee]
GO
ALTER TABLE [dbo].[Headerorder]  WITH CHECK ADD  CONSTRAINT [FK_Headerorder_Msmember] FOREIGN KEY([Memberid])
REFERENCES [dbo].[Msmember] ([MemberID])
GO
ALTER TABLE [dbo].[Headerorder] CHECK CONSTRAINT [FK_Headerorder_Msmember]
GO
USE [master]
GO
